.bac {
  width: 100%;
  height: 650px;
  position: relative;
  margin: 0%;
  display: flex;
}
.bac::before {
  content: "";
  background: url("New.jpg");
  background-attachment: fixed;
  opacity: 1;
  position: absolute;
  margin: 0%;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* filter: grayscale(); */
}
body {
  margin: 0%;
  border-bottom: 0;
}
.icons {
  display: flex;
}
.icons img {
  height: 40px;
  width: 40px;
}
nav {
  margin: 0;
  display: inline;

  background-color: #c06e6e;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d0a98d;
  border-top: 2px solid rgb(248, 248, 250);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(1, 10, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(114, 117, 112);
}

.active {
  background-color: #cfad95;
}
.header-content {
  font-size: 30px;
  color: white;
  text-shadow: #000405;
  position: relative;
  left: 20px;
}
.bo {
  display: flex;
  width: 10%;
  height: 20%;
  position: absolute;
  left: 20px;
  color: #c5efef;
  top: 60px;
}
.bo img {
  top: 50px;
  height: 40px;
  width: 50px;
}
#insta {
  padding-top: 2%;
  width: 35px;
  height: 35px;
  align-items: baseline;
}
#linked {
  padding-top: 2%;
  width: 35px;
  height: 35px;
  align-items: baseline;
}
.box {
  display: flex;
  width: 70%;
  height: 300px;
  position: relative;
  top: 280px;
  left: 10px;
}
#about {
  background-color: #31220f;
  justify-content: center;
  padding-bottom: 2%;
}
#ab {
  font-size: larger;
  text-shadow: #ddf7f8;
  color: rgb(97, 12, 12);
  text-align: center;
  font-size: 25px;
}

.onee {
  display: flex;
}

.container1 {
  display: flex;
}
#image {
  padding: 10%;
  height: 12cm;
  width: 8cm;
}
.imagebox {
  padding-right: 4%;
  margin-right: 2%;
}
#ab {
  font-size: larger;
  text-shadow: #ddf7f8;
  color: rgb(236, 124, 50);
  text-align: center;
  font-size: 25px;
}
.abc1 {
  height: 100%;
  width: 90%;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 4%;
}
.on {
  font-family: cursive;
  font-size: 30px;
  color: rgb(88, 234, 154);
  text-align: center;
}
.one {
  padding-top: 2%;
  font: inherit;
  color: #f7f8dd;
  text-align: right;
  text-decoration: wavy;
  font-size: 15px;
}
.two {
  padding-top: 2%;
  font: inherit;
  color: #f7f8dd;
  text-align: right;
  text-decoration: wavy;
  font-size: 15px;
}
.three {
  padding-top: 2%;
  font: inherit;
  color: #f7f8dd;
  text-align: right;
  text-decoration: wavy;
  font-size: 15px;
}
.four {
  padding-top: 2%;
  font: inherit;
  color: #f7f8dd;
  text-align: right;
  text-decoration: wavy;
  font-size: 15px;
}

.btn {
  background-color: #653214;
  border-radius: 45%;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #b95f5f;
}
.butto {
  display: flex;
  justify-content: center;
  border-top: 0;
  border-radius: 100%;
}
.grid1 {
  padding-left: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 29% 37% 29%;
  grid-column-gap: 20px;
  -ms-grid-column-align: center;
  padding-top: 2%;
  border-left: white;
}
.cell {
  border-right: 2px solid rgb(248, 248, 250);
  padding-left: 5%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-top: 0;
  background-color: #f9fafb;

  padding-top: 3%;
}
.Personal {
  color: rgb(165, 65, 11);
  text-decoration: underline rgb(235, 195, 166);
}
#block {
  font-style: oblique;
}
#oneline {
  display: flex;
  border: 0;
}
#titl {
  text-decoration: solid;
  font-style: oblique;
}
#educat {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
#educat p {
  border-bottom: 2px solid #c9cdcd;
}
#extra {
  border-right: none;
}
.dummy {
  content: "";
  display: flex;
  width: 100%;
  height: 530px;
  background-color: #080808;
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/000/399/204/original/abstract-background-design-in-light-gray-vector.jpg"); */
  background-size: cover;
  border-bottom: 2px solid white;
}
.dummy {
  margin: 0;
}

#pslogo {
  width: 30px;
  height: 30px;
}
.skills {
  margin-top: 4%;
  width: 80%;
  height: 400px;
  background-color: #070707;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  box-shadow: inset 0 -2em 3em rgba(14, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 2em rgb(241, 238, 238);
}
.skil {
  padding-top: 2%;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: #fdfbfb;
  font-size: 30px;
  font-family: cursive;
  text-decoration: underline;
}
.innerskills {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10%;
}

#java {
  height: 100px;
  width: 100px;
  border-radius: 150%;
  border-width: 100px;
  border-color: white;
  max-zoom: 10%;
}

#css {
  height: 100px;
  width: 100px;
  border-radius: 150%;
  border-width: 100px;
  padding-top: 2%;
}
#html {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  padding-top: 2%;
}
#spring {
  height: 100px;
  width: 100px;
  border-radius: 150%;
  border-width: 100px;
  padding-top: 2%;
}
#ang {
  height: 100px;
  width: 100px;
  border-radius: 150%;
  border-width: 100px;
  padding-top: 2%;
}
#skill {
  width: 150px;
  height: 100px;
  font-size: 150%;
  color: #0b5f62;
  align-content: space-evenly;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  padding: 20px;
}
.imgtext {
  opacity: 0;
}
#skill:hover {
  filter: blur(5px);
}

.Overlay {
  position: Fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: Rgba(0, 0, 0, 0.7);
  transition: Opacity 500ms;
  visibility: Hidden;
  opacity: 0;
}
.Overlay:target {
  visibility: Visible;
  opacity: 1;
}

.Popup {
  margin: 70px Auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: Relative;
  transition: All 5s Ease-In-Out;
}

.Popup H2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, Sans-Serif;
}
.Popup .Close {
  position: Absolute;
  top: 20px;
  right: 30px;
  transition: All 200ms;
  font-size: 30px;
  font-weight: Bold;
  text-decoration: None;
  color: #333;
}
.Popup .Close:hover {
  color: #06d85f;
}
.Popup .Content {
  max-height: 30%;
  overflow: Auto;
}

@media Screen And (max-width: 700px) {
  .Box {
    width: 70%;
  }
  .Popup {
    width: 70%;
  }
}

.cont {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.sills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
.html {
  width: 85%;
  background-color: #eb8612;
}
.java {
  width: 80%;
  background-color: #114c6c;
}
.css {
  width: 82%;
  background-color: #3d4ad9;
}
.spring {
  width: 90%;
  background-color: #12cb50;
}
.ang {
  width: 92%;
  background-color: #c90c0c;
}
.sql {
  width: 75%;
  background-color: #2b9197;
}
.work {
  color: white;
  background-color: #000405;
  opacity: 1;
  width: 100%;
  height: 650px;
  border-bottom: 2px solid whitesmoke;
}
.col1 {
  position: relative;
  top: 20%;
}
.row1 {
  margin-bottom: 5%;
}
.grid3 {
  display: grid;
  grid-template-columns: 50% 48%;
  height: 100%;
  position: relative;
  top: 10%;
}
.grid4 {
  display: grid;
  grid-template-columns: 30% 40%;
  position: relative;

  top: 20px;
}
.worktitle {
  color: rgb(238, 238, 232);
  position: relative;
  left: 15%;

  font-size: 40px;
}
.mphasislogo {
  width: 150px;
  left: 15%;
  position: relative;
}
.row2-2 {
  text-align: end;
}

.hoverwrap {
  position: relative; /* required for (c2) */
  max-width: 500px; /* optional */
  border: 1px solid white;
  box-shadow: inset 0 3em 2em rgba(235, 236, 231, 0.5),
    0 0 0 1px rgb(255, 255, 255), 0.5em 0.5em 0.5em rgba(243, 243, 240, 0.8);
}

/* (B) RESPONSIVE IMAGE */
.hoverwrap img {
  width: 100%;
  height: 80%;

  box-shadow: #06d85f;
}

/* (C) CAPTION */
.hovercap {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;

  border: 1px solid white;

  /* (C2) PLACE AT BOTTOM */
  position: absolute;
  bottom: 0;
  left: 0;

  /* (C3) COLORS */
  background-color: rgba(80, 37, 155, 0.9);
  color: rgb(205, 26, 26);
}
.row2 .hovercap {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: center;

  border: 1px solid white;

  /* (C2) PLACE AT BOTTOM */
  position: absolute;
  bottom: 0;
  left: 0;

  /* (C3) COLORS */
  background-color: rgba(255, 148, 178, 0.9);
  color: rgb(205, 26, 26);
}
.git {
  position: absolute;
  bottom: 45%;
  left: 47%;
}
.git img {
  height: 40px;
  width: 50px;
}

/* (D) SHOW/HIDE */
.hovercap {
  visibility: none;
  opacity: 0;
  /* transition: opacity 0.3s;*/
}
.hoverwrap:hover .hovercap {
  visibility: visible;
  opacity: 1;
}
.contact {
  background-color: rgb(248, 242, 169);
  height: 200px;
  display: flex;
}

.address {
  position: relative;
  width: 40%;
  height: fit-content;
  text-align: end;
  padding-right: 10%;
}
.adheading {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  top: 10px;
  position: relative;
}
.contact {
  padding-left: 10%;
}
.conheading {
  font-size: 24px;
  position: relative;
  top: 10px;
}
.mailme {
  width: 100px;
}
.addetails {
  line-height: 10px;
}


